/* .container {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.container:hover {
  transform: scale(1.05);
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  background: linear-gradient(rgb(245 215 189) 30%, rgb(255, 255, 255) 30%);
  box-shadow: 0 0 25px darkred;
  border-radius: 10px;
  padding: 50px 16px;
  transition: all 0.3s ease-in-out; /* Transición suave */
}

.card:hover {
  transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

.card img {
  position: relative;
  height: 200px; /* Aumentar el tamaño de la imagen */
  width: 200px; /* Aumentar el tamaño de la imagen */
}

.card h2 {
  color: peru;
  margin-bottom: 5px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.card li {
  color: gray;
  margin-top: 5px;
}

.card button {
  padding: 8px 20px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  background: linear-gradient(to left, rgb(245 215 189) 0%, rgb(237, 166, 104) 100%);
  transition: all 2s ease;
}

.card button:hover {
  padding: 8px 30px;
  background: linear-gradient(to left, rgb(255, 161, 79) 0%, rgb(237, 166, 104) 100%);
}
